<mat-card>
    <mat-card-title> Novo Cadastro de Carro </mat-card-title>
    <mat-card-content>
      
      
        <div class="carro">
          <mat-card>
            <mat-card-title> Adicionar carro </mat-card-title>
            <mat-card-content>
              <div class="conteudo-carro">
                <mat-form-field>
                  <mat-label for="data">Nome do modelo</mat-label>
                  <input matInput placeholder="Modelo" type="text" name="data" [(ngModel)]="nomeModelo" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="data">Placa</mat-label>
                  <input matInput placeholder="Placa" type="text" name="data" [(ngModel)]="placa" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="data">Ano </mat-label>
                  <input matInput placeholder="Ano" type="number" name="data" [(ngModel)]="ano" />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="cadastrar()">Adicionar Carro</button>
              </div>

              <table mat-table [dataSource]="carros" class="mat-elevation-z8">
                <ng-container matColumnDef="modelo">
                  <th mat-header-cell *matHeaderCellDef>Modelo</th>
                  <td mat-cell *matCellDef="let carro">{{ carro.modelo }}</td>
                </ng-container>
  
                <ng-container matColumnDef="placa">
                  <th mat-header-cell *matHeaderCellDef>Placa</th>
                  <td mat-cell *matCellDef="let carro">{{ carro.placa }}</td>
                </ng-container>
  
                <ng-container matColumnDef="ano">
                    <th mat-header-cell *matHeaderCellDef>Ano</th>
                    <td mat-cell *matCellDef="let carro">{{ carro.ano }}</td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="colunasCarro"></tr>
                <tr mat-row *matRowDef="let row; columns: colunasCarro"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
   
           
      
    </mat-card-content>
</mat-card>
  